@-webkit-keyframes ui-spinner-rotate-right {
  /* line 53, ../sass/_ui-spinner.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 54, ../sass/_ui-spinner.scss */
  25% {
    -webkit-transform: rotate(180deg);
  }

  /* line 55, ../sass/_ui-spinner.scss */
  50% {
    -webkit-transform: rotate(180deg);
  }

  /* line 56, ../sass/_ui-spinner.scss */
  75% {
    -webkit-transform: rotate(360deg);
  }

  /* line 57, ../sass/_ui-spinner.scss */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes ui-spinner-rotate-left {
  /* line 61, ../sass/_ui-spinner.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 62, ../sass/_ui-spinner.scss */
  25% {
    -webkit-transform: rotate(0deg);
  }

  /* line 63, ../sass/_ui-spinner.scss */
  50% {
    -webkit-transform: rotate(180deg);
  }

  /* line 64, ../sass/_ui-spinner.scss */
  75% {
    -webkit-transform: rotate(180deg);
  }

  /* line 65, ../sass/_ui-spinner.scss */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes ui-spinner-rotate-right {
  /* line 69, ../sass/_ui-spinner.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 70, ../sass/_ui-spinner.scss */
  25% {
    -moz-transform: rotate(180deg);
  }

  /* line 71, ../sass/_ui-spinner.scss */
  50% {
    -moz-transform: rotate(180deg);
  }

  /* line 72, ../sass/_ui-spinner.scss */
  75% {
    -moz-transform: rotate(360deg);
  }

  /* line 73, ../sass/_ui-spinner.scss */
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-moz-keyframes ui-spinner-rotate-left {
  /* line 77, ../sass/_ui-spinner.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 78, ../sass/_ui-spinner.scss */
  25% {
    -moz-transform: rotate(0deg);
  }

  /* line 79, ../sass/_ui-spinner.scss */
  50% {
    -moz-transform: rotate(180deg);
  }

  /* line 80, ../sass/_ui-spinner.scss */
  75% {
    -moz-transform: rotate(180deg);
  }

  /* line 81, ../sass/_ui-spinner.scss */
  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes ui-spinner-rotate-right {
  /* line 85, ../sass/_ui-spinner.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 86, ../sass/_ui-spinner.scss */
  25% {
    transform: rotate(180deg);
  }

  /* line 87, ../sass/_ui-spinner.scss */
  50% {
    transform: rotate(180deg);
  }

  /* line 88, ../sass/_ui-spinner.scss */
  75% {
    transform: rotate(360deg);
  }

  /* line 89, ../sass/_ui-spinner.scss */
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ui-spinner-rotate-left {
  /* line 93, ../sass/_ui-spinner.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 94, ../sass/_ui-spinner.scss */
  25% {
    transform: rotate(0deg);
  }

  /* line 95, ../sass/_ui-spinner.scss */
  50% {
    transform: rotate(180deg);
  }

  /* line 96, ../sass/_ui-spinner.scss */
  75% {
    transform: rotate(180deg);
  }

  /* line 97, ../sass/_ui-spinner.scss */
  100% {
    transform: rotate(360deg);
  }
}

/* line 100, ../sass/_ui-spinner.scss */
.ui-spinner {
  position: relative;
  border-radius: 100%;
}
/* line 104, ../sass/_ui-spinner.scss */
.ui-spinner .side {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
/* line 110, ../sass/_ui-spinner.scss */
.ui-spinner .side .fill {
  border-radius: 999px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
/* line 120, ../sass/_ui-spinner.scss */
.ui-spinner .side-left {
  left: 0;
}
/* line 123, ../sass/_ui-spinner.scss */
.ui-spinner .side-left .fill {
  left: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-animation-name: ui-spinner-rotate-left;
  -moz-animation-name: ui-spinner-rotate-left;
  -ms-animation-name: ui-spinner-rotate-left;
  -o-animation-name: ui-spinner-rotate-left;
  animation-name: ui-spinner-rotate-left;
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%;
}
/* line 132, ../sass/_ui-spinner.scss */
.ui-spinner .side-right {
  left: 50%;
}
/* line 135, ../sass/_ui-spinner.scss */
.ui-spinner .side-right .fill {
  left: -100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-animation-name: ui-spinner-rotate-right;
  -moz-animation-name: ui-spinner-rotate-right;
  -ms-animation-name: ui-spinner-rotate-right;
  -o-animation-name: ui-spinner-rotate-right;
  animation-name: ui-spinner-rotate-right;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

/* line 25, ../sass/_ui-spinner.scss */
.example-default .ui-spinner {
  width: 46px;
  height: 46px;
  background: #dddddd;
  opacity: 0.8;
}
/* line 31, ../sass/_ui-spinner.scss */
.example-default .ui-spinner .side .fill {
  background: #3c76ca;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
}
/* line 36, ../sass/_ui-spinner.scss */
.example-default .ui-spinner:after {
  content: "";
  background: transparent;
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  top: 9px;
  left: 9px;
  display: block;
}

/* line 25, ../sass/_ui-spinner.scss */
.example-hole .ui-spinner {
  width: 46px;
  height: 46px;
  background: #dddddd;
  opacity: 0.8;
}
/* line 31, ../sass/_ui-spinner.scss */
.example-hole .ui-spinner .side .fill {
  background: #3c76ca;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
}
/* line 36, ../sass/_ui-spinner.scss */
.example-hole .ui-spinner:after {
  content: "";
  background: white;
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  top: 9px;
  left: 9px;
  display: block;
}

/* line 25, ../sass/_ui-spinner.scss */
.example-large .ui-spinner {
  width: 100px;
  height: 100px;
  background: #bbbbbb;
  opacity: 1;
}
/* line 31, ../sass/_ui-spinner.scss */
.example-large .ui-spinner .side .fill {
  background: #ea7b3a;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -ms-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
}
/* line 36, ../sass/_ui-spinner.scss */
.example-large .ui-spinner:after {
  content: "";
  background: transparent;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 20px;
  left: 20px;
  display: block;
}
