@-webkit-keyframes ui-spinner-rotate-right {
  /* line 53, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 54, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  25% {
    -webkit-transform: rotate(180deg);
  }

  /* line 55, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  50% {
    -webkit-transform: rotate(180deg);
  }

  /* line 56, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  75% {
    -webkit-transform: rotate(360deg);
  }

  /* line 57, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes ui-spinner-rotate-left {
  /* line 61, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 62, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  25% {
    -webkit-transform: rotate(0deg);
  }

  /* line 63, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  50% {
    -webkit-transform: rotate(180deg);
  }

  /* line 64, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  75% {
    -webkit-transform: rotate(180deg);
  }

  /* line 65, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes ui-spinner-rotate-right {
  /* line 69, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 70, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  25% {
    -moz-transform: rotate(180deg);
  }

  /* line 71, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  50% {
    -moz-transform: rotate(180deg);
  }

  /* line 72, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  75% {
    -moz-transform: rotate(360deg);
  }

  /* line 73, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-moz-keyframes ui-spinner-rotate-left {
  /* line 77, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 78, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  25% {
    -moz-transform: rotate(0deg);
  }

  /* line 79, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  50% {
    -moz-transform: rotate(180deg);
  }

  /* line 80, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  75% {
    -moz-transform: rotate(180deg);
  }

  /* line 81, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes ui-spinner-rotate-right {
  /* line 85, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 86, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  25% {
    transform: rotate(180deg);
  }

  /* line 87, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  50% {
    transform: rotate(180deg);
  }

  /* line 88, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  75% {
    transform: rotate(360deg);
  }

  /* line 89, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ui-spinner-rotate-left {
  /* line 93, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 94, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  25% {
    transform: rotate(0deg);
  }

  /* line 95, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  50% {
    transform: rotate(180deg);
  }

  /* line 96, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  75% {
    transform: rotate(180deg);
  }

  /* line 97, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
  100% {
    transform: rotate(360deg);
  }
}

/* line 100, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
.ui-spinner {
  position: relative;
  border-radius: 100%;
}
/* line 104, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
.ui-spinner .side {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
/* line 110, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
.ui-spinner .side .fill {
  border-radius: 999px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
/* line 120, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
.ui-spinner .side-left {
  left: 0;
}
/* line 123, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
.ui-spinner .side-left .fill {
  left: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-animation-name: ui-spinner-rotate-left;
  -moz-animation-name: ui-spinner-rotate-left;
  -ms-animation-name: ui-spinner-rotate-left;
  -o-animation-name: ui-spinner-rotate-left;
  animation-name: ui-spinner-rotate-left;
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%;
}
/* line 132, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
.ui-spinner .side-right {
  left: 50%;
}
/* line 135, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
.ui-spinner .side-right .fill {
  left: -100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-animation-name: ui-spinner-rotate-right;
  -moz-animation-name: ui-spinner-rotate-right;
  -ms-animation-name: ui-spinner-rotate-right;
  -o-animation-name: ui-spinner-rotate-right;
  animation-name: ui-spinner-rotate-right;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

/* line 25, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
.example-default .ui-spinner {
  width: 46px;
  height: 46px;
  background: #dddddd;
  opacity: 0.8;
}
/* line 31, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
.example-default .ui-spinner .side .fill {
  background: #3c76ca;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
}
/* line 36, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
.example-default .ui-spinner:after {
  content: "";
  background: transparent;
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  top: 9px;
  left: 9px;
  display: block;
}

/* line 25, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
.example-ring .ui-spinner {
  width: 46px;
  height: 46px;
  background: #dddddd;
  opacity: 0.8;
}
/* line 31, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
.example-ring .ui-spinner .side .fill {
  background: #3c76ca;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
}
/* line 36, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
.example-ring .ui-spinner:after {
  content: "";
  background: white;
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  top: 9px;
  left: 9px;
  display: block;
}

/* line 25, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
.example-large .ui-spinner {
  width: 100px;
  height: 100px;
  background: gray;
  opacity: 1;
}
/* line 31, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
.example-large .ui-spinner .side .fill {
  background: purple;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -ms-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
}
/* line 36, /Library/WebServer/Documents/ouroboros/sass/_spinner.scss */
.example-large .ui-spinner:after {
  content: "";
  background: transparent;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 20px;
  left: 20px;
  display: block;
}
