/* line 1, ../sass/spinner-old-ie.scss */
.ui-spinner {
  background: url(../i/throbber.gif) no-repeat center center !important;
}
/* line 3, ../sass/spinner-old-ie.scss */
.ui-spinner:after {
  display: none !important;
}
/* line 6, ../sass/spinner-old-ie.scss */
.ui-spinner .side {
  display: none !important;
}
